---
import Path from '@mojojs/path';
import { Debug } from 'astro/components';
import Layout from '../../layouts/Layout.astro';
import NoteLink from '../../components/NoteLink.astro';


/// Translate the Dendron cache to a collection of routes.
export async function getStaticPaths() {
    const cacheFile = "../notes/.dendron.cache.json";
    const file = new Path(cacheFile);
    const cacheSource = await file.readFile('utf8');
    const notes = JSON.parse(cacheSource.toString()).notes;

    // Establish parents

    return Object.entries(notes).map(([fname, note]) => {
        const notePath = new Path(`../notes/${fname}.md`);
        note.data.parent = (fname == "root")
            ? null
            : "root";

        return {
            params: { fname: fname },
            props: {note, path: notePath },
        };
    });
}

const { fname } = Astro.params;
const { note } = Astro.props;
---
<Layout title={note.data.title}>
    <h1>{note.data.title}</h1>
    <dl>
        <dt>Parent</dt>
        <dd>{note.data.parent ? <NoteLink to={note.data.parent} /> : "None"}</dd>
        <dt>Created</dt>
        <dd>{note.data.created}</dd>
        <dt>Updated</dt>
        <dd>{note.data.updated}</dd>
    </dl>
    <h2>Links</h2>
    <ul>
        {note.data.links.map((link) => <li><a href=`/notes/${link.to.fname}`>{link.to.fname}</a></li>)}
    </ul>
    <Debug {note.data} />
</Layout>
