---
import Path from "@mojojs/path"
import * as dotenv from "dotenv"

import { Debug } from 'astro/components'
import Layout from '../../layouts/Layout.astro'
import NoteLink from '../../components/NoteLink.astro'

dotenv.config();
if (process.env["DENDRON_WORKSPACE"] === undefined) {
    throw "DENDRON_WORKSPACE is undefined";
}

/// Translate the Dendron cache to a collection of routes.
export async function getStaticPaths() {
    const notes = await Astro.glob("C:\\Users\\brian\\moa-dendron\\notes\\*.md")

    return notes.map(note => {
        const parent = "root";
        console.log(note);
        console.log(note.file)
        const fname = new Path(note.file).toObject().name;
        console.log(fname);
    
        return {
            params: { fname },
            props: { note, parent },
        };
    })
}

const { fname } = Astro.params;
const { note, parent } = Astro.props;
---
<Layout title={note.frontmatter.title}>
    <h1>{note.frontmatter.title}</h1>
    <dl>
        <dt>Parent</dt>
        <dd>{parent ? <NoteLink to={parent} /> : "None"}</dd>
        <dt>Created</dt>
        <dd>{note.frontmatter.created}</dd>
        <dt>Updated</dt>
        <dd>{note.frontmatter.updated}</dd>
    </dl>
    <Debug {note.frontmatter} />
    <note.Content />
</Layout>
