---
import { getNoteCache } from '../lib/DendronCache'

import Backlinks from '../components/Backlinks.astro'
import Layout from './Layout.astro'
import NoteLink from '../components/NoteLink.astro'
import NoteDateInfo from '../components/NoteDateInfo.astro'

const { note } = Astro.props
const noteCache = getNoteCache(note.file)
---
<Layout title={note.frontmatter.title}>
    <article>
        <header>
            <h1>{note.frontmatter.title}</h1>
            <footer>
                <NoteDateInfo
                    created={note.frontmatter.created}
                    updated={note.frontmatter.updated} />
            </footer>
        </header>
        <note.Content />
        <footer>
            <Backlinks fname={noteCache.data.fname} />
        </footer>
    </article>
</Layout>

<style>
    article {
        padding: 1em;
    }
</style>